extends layout/main.pug
include mixins/videoBlock

block content
    .search_header
        h3 Search : #{searchingBy}
    .search_videos
        each video in videos
                +videoBlock({
                    title:video.title,
                    videoFile:video.videoFile,
                    views:video.views,
                    description:video.description
                })